./nuggets/nuggets
./stamps/stamps
./milk3/milk3
./ditch/ditch
./holstein/holstein
./zerosum/zerosum
./camelot/camelot
./starry/starry
./ariprog/ariprog
./preface/preface
./sprime/sprime
./msquare/msquare
./ttwo/ttwo
./snail/snail
./theme/theme
./sort3/sort3
./ratios/ratios
./stall4/stall4
./race3/race3
./rockers/rockers
./spin/spin
./cowtour/cowtour
./range/range
./frameup/frameup
./prefix/prefix
./fracdec/fracdec
./runround/runround
./wormhole/a.out
./palsquare/a.out
./concom/concom
./numtri/numtri
./buylow/buylow
./fc/fc
./fence9/fence9
./frac1/frac1
./lgame/lgame
./kimbits/kimbits
./fence6/fence6
./maze1/maze1
./money/money
./butter/butter
./butter/heap
./inflate/inflate
./agrinet/agrinet
./hamming/hamming
./job/job
./nocows/nocows
./fact4/bestsol
./fact4/fact4
./fence/fence
./contact/contact
./shopping/shopping
./pprime/pprime
./lamps/lamps
./game1/game1
./humble/humble
./heritage/heritage
./subset/subset
./castle/castle
./skidesign/skidesign
./comehome/comehome
